.header {
    margin: 42px 32px 32px;

    @media (min-width: 56.25em) {
        grid-area: 1;
    }

    h1 {
        font-size: 56px;
        font-weight: 400;
        line-height: 0.86;
        margin: 0;
        text-align: center;
        text-transform: uppercase;

        span {
            display: inline-block;
            font-weight: 200;
        }
    }

    p {
        font-size: 18px;
        line-height: 1.555556;
        margin: 41px 0 0;
    }

    a {
        background: linear-gradient(var(--teal-100), var(--teal-100)) no-repeat 0 15px / 100% 8px;
        color: var(--gray-800);
    }
}
