.links {
	display: flex;
	column-gap: 16px;
	padding: 0;
	margin-block-start: 16px;
	list-style: none;

	&__link {
		display: block;
		color: var(--color);
		outline: 3px solid transparent;
		outline-offset: 4px;
		transition: outline-color 200ms;

		&:focus-visible {
			outline-color: var(--color);
		}
	}
}
