.links {
	column-gap: 16px;
	display: flex;
	list-style: none;
	margin-block-start: 16px;
	padding: 0;

	&__link {
		color: var(--color);
		display: block;
		outline: 3px solid transparent;
		outline-offset: 4px;
		transition: outline-color 200ms;

		&:focus-visible {
			outline-color: var(--color);
		}
	}
}
