main {
	align-items: center;
	block-size: 100vh;
	display: grid;
	grid-template-columns: minmax(var(--grid-side-gap), auto) minmax(auto, var(--grid-max-content)) minmax(var(--grid-side-gap), auto);
}
